umd-paginate {
  display: flex;
  padding: 40px 0;
  font-size: 16px;
  justify-content: center;

  & page-list {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & [data-controls] {
    align-items: center;
    border: 0;
    display: flex;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: color 0.3s;

    & [data-icon] {
      display: block;
      height: 30px;
      width: 30px;

      & svg {
        height: 100%;
        width: 100%;
        transition: fill 0.3s;
      }
    }
  }

  & [data-controls='previous'] svg {
    transform: rotate(180deg);
  }

  & [data-current] {
    font-weight: var(--semiBold);
    margin: 0 5px;
  }

  & [data-current='page'] {
    background-color: var(--offWhite);
    color: var(--grayDark);
    font-weight: var(--bold);
    padding: 10px;
  }

  & [data-current='of-total'] {
    @media (--tablet-min) {
      display: none;
    }
  }

  & a[data-paginate] {
    @media (--large-max) {
      display: none;
    }
  }

  & a[data-paginate] {
    @media (--tablet-min) {
      border: 1px solid var(--grayLight);
      margin: 0 10px;
      padding: 10px;
      text-decoration: none;
      transition: border 0.3s, color 0.3s;

      &:hover,
      &:focus {
        border-color: var(--umdLinkHover);
      }
    }
  }
}
