{% set footerAttributes = {
  youtube: 'https://www.youtube.com/user/UMD2101',
  facebook: 'https://www.facebook.com/UnivofMaryland',
  instagram: 'https://www.instagram.com/univofmaryland/',
  twitter: 'https://twitter.com/UofMaryland'
} %}

<footer>
  <umd-footer-small {{ attr(footerAttributes) }}>
    <div slot="contact">
      <address>
        <a data-address="title"
          href="https://urhome.umd.edu"
          rel="noopener"
          target="_blank">
          <span>Division of University Relations</span>
        </a>
        <span data-address="street">
          1132 Thomas V. Miller, Jr. Administration Building
        </span>
        <span data-address="city-state-zip">College Park, MD 20742-5025</span>
      </address>
      <p data-address="phone-email">
        <a href="tel:+13014054680" aria-label="call: 301-405-4680">
          <span aria-hidden="true">301.405.4680</span>
        </a>
        <a href="mailto:universityrelations@umd.edu">
          universityrelations@umd.edu
        </a>
      </p>
    </div>
    <div slot="links">
      <a href="https://form.asana.com/?k=Oe14_KGBxFVwzuPlxX04aw&d=476929634570367"
        target="_blank">
        Feedback
      </a>
    </div>
  </umd-footer-small>
</footer>
