<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <title>
      {{ pageTitle is defined ? "#{pageTitle} | " : '' }}{{ siteName }}
    </title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    {% cache globally %}
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    {% endcache %}

    <!-- prevent display before css loads -->
    <style>
      umd-utility-header, main, footer { display: none; }
    </style>
  </head>

  <body>
    {% include './components/includes/_university-banner.twig' %}

    <!-- prettier-ignore -->
    <main>
      {% block main %}{% endblock %}
    </main>

    {% include './components/includes/_footer' %}

    {% js '/main.js' %}
    {% css '/main.css' %}
  </body>
</html>
