{% set entryType = 'main' %}
{% set cssFile = entryType %}
{% set jsFile = entryType %}

{% set pageTitle = 'Home' %}
{% set pageBackground = '/backgrounds/home.png' %}

{% extends '_layout' %}

{# Start Blocks #}

{% block main %}
  <umd-lock data-size="medium" id="main">
    <umd-page-header>
      <div class="rich-text">
        <p>
          Content Management System for:
        </p>
      </div>
      <h1 data-page="title" class="normal-san-serif">
        <a href="https://urhome.umd.edu/about/directory/"
          target="_blank"
          rel="noopener">
          The University Relations Directory
        </a>
      </h1>
      {% if currentUser %}
        <div class="rich-text">
          <p>
            <em>Access the control panels to make updates</em>
          </p>
        </div>
        <div data-page="link"
          data-links-layout="column"
          data-alignment="center">
          <a href="/admin"
            class="call-to-action"
            data-color="red"
            data-style="outlined">
            <span data-link="text">Admin</span>
          </a>
        </div>
      {% else %}
        <div class="rich-text">
          <p>
            <em>You must be logged-in to make updates</em>
          </p>
        </div>
      {% endif %}
    </umd-page-header>
  </umd-lock>
{% endblock %}
